*{
    margin:0;
    padding:0
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 650px;
    margin: 20px auto;
}

h1{
    font-size: 4.5rem;
    color:gray;
    margin: 20px 0;
}

.nav a{
    text-decoration: none;
    color: gray;
    size:18px;
    margin-right: 20px;
}
footer{
    position: absolute;
    bottom: 20px;
    width: 650px;
    padding-bottom: 20px;
}
footer p{
    margin: 20px;
    color: black;
    font-size: 18px;
    border-top: 1px solid black;
}

.weather-guide{
    margin: 20px 0 ;
}

input[type=text]{
    padding: 10px 20px;
}

input[type=submit]{
    padding: 10px 20px;
    cursor: pointer;
}

.message-1, .message-2{
    margin: 20px 0;
} 

.error{
    color:red
}